<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopBar</title>
</head>
<body>
  <div id="component-topbar" class="flex justify-between bg-secondary-default py-1 ps-10 pe-16">
    <div class="flex gap-2">
      <img src="../../../public/svg/TopBar/clock.svg" alt="Opening hours icon" class="w-6">
      <p class="text-white text-xl mt-2">Opening Hours: mon to fri, 8:00am to 4:00pm</p>
    </div>
    <div class="">
      <social-network cssURL="../../../dist/tailwind-output.css"></social-network>
    </div>
  </div>
</body>
</html>