<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>
</head>

<body>
  <nav id="component-navbar">

    <div class="bg-primary-default h-16 lg:h-24 pt-4 w-full flex justify-between">
      <img class="w-32 lg:w-48 border-primary-default border-4 rounded-3xl mx-2 lg:mx-8 -mb-4 lg:-mb-7"
        src="../../../public/image/Header/brand.png" alt="" loading="lazy">
      <div class="my-auto">
        <ul class="text-white lg:flex hidden my-auto">
          <li class="ms-8 text-xl"><a href="#">Home</a></li>
          <li class="ms-8 pb-5 text-xl flex relative group/item"><a href="#">Services</a><img
              src="../../../public/svg/Header/down.svg" class="w-2.5 ms-2" loading="lazy"/>
            <div id="mega-menu-services"
              class="group/edit hidden group-hover/item:block absolute top-10 left-2 shadow-lg rounded-xl z-10 bg-white">
            </div>
          </li>
          <li class="ms-8 text-xl"><a href="#">Articles</a></li>
          <li class="ms-8 pb-5 text-xl flex group/item"><a href="#">Amazing Services</a><img
              src="../../../public/svg/Header/down.svg" class="w-2.5 ms-2"  loading="lazy"/>
            <div id="mega-menu-aboutus"
              class="group/edit hidden group-hover/item:block fixed w-full top-20 left-0 shadow-lg rounded-xl z-10 bg-white">
            </div>
          </li>
          <li class="ms-8 text-xl"><a href="#">About us</a></li>
        </ul>
      </div>

      <div class="relative me-8 hidden lg:block self-center">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="search-navbar"
          class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search...">
      </div>

      <div class="flex lg:hidden lg:my-4 me-4">
        <button data-collapse-toggle="navbar-hamburger" type="button"
          class="inline-flex items-center justify-center p-2 w-10 h-10 rounded-lg hover:bg-secondary-default focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-hamburger" aria-expanded="false">
          <img src="../../../public/svg/Header/hamburger-menu.svg" alt="" loading="lazy">
        </button>
      </div>
    </div>
    <div class="hidden w-full" id="navbar-hamburger">
      <ul class="flex flex-col font-medium mt-4 rounded-lg shadow-lg bg-white">
        <li>
          <a href="#" class="block py-2 px-3 text-primary-default bg-white">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-primary-default bg-white rounded">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-primary-default bg-white rounded">Articles</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-primary-default bg-white rounded">About us</a>
        </li>
      </ul>
    </div>

  </nav>
</body>

</html>