<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>
</head>

<body>
  <div id="component-navbar">

    <div class="bg-primary-default h-16 lg:h-24 pt-4 w-full flex justify-between">
      <img class="w-32 lg:w-48 border-primary-default border-4 rounded-3xl mx-2 lg:mx-8 -mb-4 lg:-mb-7"
        src="../../../public/image/Header/brand.png" alt="">
      <div class="my-auto">
        <ul class="text-white lg:flex hidden my-auto">
          <li class="ms-4 text-2xl cursor-pointer">Home</li>
          <li class="ms-4 text-2xl cursor-pointer">Services</li>
          <li class="ms-4 text-2xl cursor-pointer">About us</li>
        </ul>
      </div>
      <div class="bg-white rounded-md w-36 h-10 lg:flex hidden sm:w-48 me-0 sm:me-4 my-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 m-1.5 ">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input class="h-full w-20 rounded-md focus:outline-none ps-2" type="text">
      </div>
      <div class="flex lg:hidden lg:my-4 me-4">
        <button class="text-white left-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
            stroke="currentColor" class="w-9 h-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>

  </div>
</body>

</html>